<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Criar uma publicação</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formPublicacao" (ngSubmit)="submitPublicacao()">
            <div class="form-group">
                <input 
                    type="text" 
                    placeholder="Título da publicação"
                    class="form-control"
                    formControlName="titulo"
                >
            </div>
            <div class="form-group">
                <textarea
                    placeholder="Descrição da publicação"
                    class="form-control"
                    formControlName="descricao"
                    style="max-height:200px; min-height:50px;resize: vertical"
                >
                </textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Adicionar imagem</label>
                <input 
                    type="file"  
                    class="form-control-file"
                    formControlName="file"
                    (change)="onFileChange($event)"
                >
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-dark">Publicar</button>
            </div>
            <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage }}</ngb-alert>
            <ngb-alert *ngIf="sucessMessage" type="success" (close)="sucessMessage = null">{{ sucessMessage }}</ngb-alert>
        </form>
    </div>
</div>