<div class="row" *ngFor="let publicacao of publicacoes">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>{{publicacao.nome}}</strong></p>
      </div>

      <img class="card-img" src="{{publicacao.urlImagem || ''}}" />
      
      <div class="card-body">
        <p class="card-text">
          <strong>{{publicacao.usuario}}</strong> {{publicacao.titulo}}
        </p>
        <p class="card-text">
          {{publicacao.descricao}}
        </p>

        <hr />
        <form [formGroup]="formComentario" (ngSubmit)="adicionarComentario(publicacao)">
          <div class="form-group">
              <input 
              type="text" 
              class="form-control comentario"
              placeholder="Adicione um comentário..." 
              formControlName="comentario"
            />
          </div>
        </form>
        <div *ngFor="let comentarioPublicacao of publicacao.comentarios | keyvalue">
          <app-comentarios [comentarioPublicacao]="comentarioPublicacao"></app-comentarios>
        </div>
      </div>
    </div>
  </div>
</div>